html {
  font-family: Roboto, serif;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-height: 500px;
}

.banner {
  position: relative;
  max-width: 45em;
  margin: 0;
}

.group {
  display: flex;
}

.img-flex {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.text {
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.btn {
  color: #fff;
  font-weight: normal;
  font-family: Roboto, serif;
  text-decoration: none;
  font-size: .875rem;
  max-width: 10em;
  display: block;
  padding: .2em .5em .3em;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
}

.btn-big {
  position: absolute;
}
